@model AvionViewModel
@{
    ViewData["Title"] = "Registro Avion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h3> Crear Nueva Avion</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <form asp-action="Create" asp-controller="Avion" method="post" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <div class="col-md-4 mb-3">
                        <label asp-for="Modelo" class="control-label"></label>
                        <input type="text" asp-for="Modelo" class="form-control" placeholder="Modelo">
                        <span asp-validation-for="Modelo" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-4 mb-3">
                        <label asp-for="Capacidad" class="control-label"></label>
                        <input type="text" asp-for="Capacidad" class="form-control" placeholder="Capacidad">
                        <span asp-validation-for="Capacidad" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-4 mb-3">
                        <label asp-for="Descripcion" class="control-label"></label>
                        <input type="text" asp-for="Descripcion" class="form-control" placeholder="Descripcion">
                        <span asp-validation-for="Descripcion" class="text-danger"></span>
                    </div>
                </div>
                <hr>
                <div class="form-group">
                    <input type="submit" class="btn btn-primary" value="Registrar">
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts{

    <partial name="_ValidationScriptsPartial" />
}
